Host *
  AddKeysToAgent yes
  UseKeychain yes

Host indika
  HostName 142.93.197.248
  User indika

Host transpalet
  HostName 134.122.29.120
  User indika

Host upcpav
  HostName 104.236.194.239
  User upcpav
